.mail-filter2-form {
	display: flex;
	flex-direction: column;
	/* align-items: start; */
	justify-content: center;
  padding-top: 10px;
	padding-left: 10px;
	/* width: 100%; */
}

.mail-filter2 form {
	width: 90%;
	max-width: 500px;
}

.mail-filter2-form-search {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 25px;
	width: 100%;
}

.mail-filter2-form-search input {
	font-size: 1rem;
	padding: 15px 20px;
	border-radius: 1.5rem;
	border: none;
	background-color: #e9f1fb;
	width: 100%;
}

.mail-filter2-form-search input:focus {
	outline: none;
	background-color: white;
	box-shadow: 0 0 5px 0.5px rgba(128, 128, 128, 0.674);
}

.mail-filter2-form-search button {
	cursor: pointer;
	font-size: 0.9rem;
	padding: 16px;
	border-radius: 1.5rem;
	border: none;
	background-color: #e9f1fb;
}

.mail-filter2-form-search button:hover {
	background-color: #d3e3fc;
}

.mail-filter2-form-btns {
	display: flex;
	gap: 10px;
	margin: 13px 0;
}

.mail-filter2-form-btns button {
	border: 1px solid rgba(128, 128, 128, 0.382);
	border-radius: 1rem;
	padding: 5px 10px;
	background-color: transparent;
}
