.mail-list-cmpn {
  border-radius: 1rem;
  background-color: white;
}

.mail-list {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.217);
}

.no-mails {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
  color: #888;
  min-height: 50vh;
}