* {
    box-sizing: border-box;
}

.colors-container {
    position: absolute;
    /* left: -10px; */
    display: flex;
    background-color: white;
    width: fit-content;
    gap: 3px;
    padding: 5px;
    z-index: 1;
    border-radius: 12px;
    border: .7px solid rgb(219, 218, 218);
}

.color-input .color {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: .7px solid rgb(219, 218, 218);
}

