*{
    box-sizing: border-box;
}

.note-index{
    transition: 200ms;
}

.pinned-notes, .other-notes {
    columns: auto 250px;
    break-inside: avoid;
}

.note-index h1 {
    font-size: 1.5em;
    margin-bottom: .8em;
}

.pinned-notes-title, .other-notes-title{
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: .5rem;
}

.other-notes-title{
    margin-top: 4.375rem;
}