.note-filter {
    display: flex;
	justify-self: center;
	align-items: center;
	width: 100%;
    /* position: absolute; */
    background-color: var(--notes-search-bg-color);
    /* top: 20px; */
    /* left: 180px; */
    width: 100%;
    max-width: 720px;
    max-width: 500px;
    border-radius: 8px;
	margin-bottom: 50px;
}

.note-filter input{
    padding: 11px;
    font-size: 1rem;
    width: 100%;
}

.note-filter button{
    vertical-align: middle;
    padding: 10px;
}

.note-filter button:hover{
    cursor: pointer;
    background-color: rgba(31, 32, 35, 0.1);
    border-radius: 50%;
}