/* note Preview */

.note-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    min-width: 10em;
    height: fit-content;
    padding: 1em;
    border-radius: .7em;
    transition: 250ms;
    margin-bottom: 10px;
    word-break: break-word;
    border: .7px solid rgb(219, 218, 218);
}

.note-preview p {
    margin-top: .4em;
}

.note-preview button:hover {
    cursor: pointer;
}

.note-preview input:hover {
    cursor: pointer;
}

.delete-btn,
.color-btn {
    border: none;
    background-color: transparent;
    opacity: 0;
}

.note-preview:hover .delete-btn,
.note-preview:hover .color-btn {
    opacity: 1;
}

.delete-btn:hover, .color-btn:hover{
  color: #a560ef;
}

.strike{
    text-decoration: line-through;
}