/* note Preview */

.note-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    min-width: 10em;
    height: fit-content;
    padding: 1em;
    border-radius: .5rem;
    transition: 250ms;
    transition-timing-function: ease-in;
    margin-bottom: 1em;
    word-break: break-word;
    border: .7px solid var(--notes-main-color2);
}

.note-preview h2 {
    margin-top: .4em;
}

.note-preview>* {
    color: var(--notes-main-color4);

}

button {
    height: fit-content;
    width: auto;
    border: none;
}

.note-preview button:hover {
    cursor: pointer;
    background-color: rgba(31, 32, 35, 0.1);
    border-radius: 50%;
}


.note-preview input:hover {
    cursor: pointer;
}

.note-preview .btns {
    height: fit-content;
    width: auto;
    border: none;
    background-color: transparent;
    opacity: 0;
}

.note-preview button{
    padding: 15px;
}

.pin-btn {
    position: absolute;
    right: 20px;
}

.note-preview:hover .btns {
    opacity: 1;
}

.strike {
    text-decoration: line-through;
}

li {
    list-style: none;
}