.todos-list>*{
    list-style: none;
}

.todos-list li{
    display: flex;
    width: 100%;
}

.list-item-txt{
    grid-column: 1/-1;
    width: 100%;
}

.list-delete-btn{

}

.todos-list li>*{
    border: none;
    outline: none;
}

.list-add-btn:hover{
   cursor: pointer;
}

.todos-list li:focus{
    border-top: 1px solid var(--notes-main-color2);
    border-bottom: 1px solid var(--notes-main-color2);
}

ul{
    padding: 10px;
    margin: 0;
}