.main-mail-index {
  margin-top: 40px;
  font-size: 14px;
  color: #545658;
}

.main-mail-index-page {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.main-mail-index-btn {
  text-align: center;
}

.main-mail-index-btn-add-mail {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 20px;
  margin-top: 10px;
  background-color: #c2e7fc;
}

.main-mail-index-btn-add-mail:hover {
  box-shadow: 0 0 5px 0.5px rgba(128, 128, 128, 0.674);
}
