
html{
    font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif;
}

body {
    font-size: 0.875em;
    background-color: transparent;
    margin: 0;
    color: var(--notes-main-color3);
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-img img{
    width: 120px;
}