html{
    font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif;
}

body {
    font-size: 0.875em;
    background-color: var(--notes-main-bg-color);
    margin: 0 10px;
    color: var(--notes-main-color3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.logo-img img{
    width: 120px;
}