button {
    background-color: transparent;
    padding: 0;
}

textarea{
    font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif;
    resize: none;
    font-size: .875rem;
    background-color: transparent;
    width: 100%;
}

input{
    border: none;
    outline: none;
    font-size: .875rem;
    background-color: transparent;
}

li {
    list-style: none;
}