.app-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    height: 64px;
    margin: 8px;
    margin-bottom: 2px solid var(--notes-main-color3);
    padding: 8px;
    justify-content: space-between;
    z-index: 2;
}

.hamburger-btn{
    height: 24px;
    width: 24px;
}

nav a {
    margin: .5em;
    color: var(--notes-main-color4);
}

nav a.active {
    color: var(--notes-main-color4);
    font-weight: bold;
}